body {
  background-color: black;
  height:auto;
}
.description {
  color: black;
}
.header {
  padding: 20px;
  text-align: center;
  /* color: black; */
  font-size: 30px;
  margin-bottom: 10px;
  background-image: url("../img/ghanaflag.jpg");
}
.header-title {
  color: black;
  text-align: center;
}
.about, .form-section {
  margin-left: 80px;
  margin-right: 80px;
  background: white;
  border: 100px, solid lightgreen;
  border-radius: 12px;
  padding: 10 px;

}
